@import "./_fonts";
@import "./_colors";

body{
  font-family: 'Tinos', serif;

  a{
    color:$blue;
  }

  a:focus{
    font-weight: bold;
    outline: $blue 3px dotted;
    outline-offset: 4px;
  }

  ::selection {
    color: black;
    background: yellow;
  }
}

